#homepageContainer{
  display: flex; 
  flex-direction: column; 
}  

#homeMain{  
  width: 100%; 
  height: 600px; 
  background-image: var(--main-background-img); 
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;   
  display: flex; 
  flex-direction: column;
  justify-content: center;  
  align-items: center;
} 

#slogan{
  font-family: var(--slogan-font-family); 
  color: var(--main-white); 
  filter: drop-shadow(2px 1px var(--main-blue)); 
  font-size: var(--slogan-font-size); 
  padding: 5px; 
  margin: 20px;  
  /* text-decoration: underline;  */
} 

#toLoginBtn{
  font-family: var(--slogan-font-family); 
  font-size: var(--logsigbtn-font-size); 
  width: 150px; 
  padding: 10px; 
  margin: 10px; 
  color: var(--main-blue); 
  background-color: var(--powder-blue); 
  border: none; 
  border-radius: 10px; 
  box-shadow: 2px 5px var(--main-blue);   
} 

#toLoginBtn:hover{
  /* background-color: var(--darker-p-blue);   */ 
  box-shadow: 5px 10px var(--main-blue);   
  cursor: pointer;   
} 

#toSignupP{ 
  --logsigbtn-font-size: 22px; 
  font-size: var(--logsigbtn-font-size);  
  font-family: var(--slogan-font-family);  
  color: var(--main-blue); 
  padding: 5px; 
  margin: 5px;  
  /* filter: drop-shadow(2px 1px var(--main-blue));  */
}  

#toSignupP:hover{
  /* color: var(--main-red);  */ 
  text-decoration: underline;
  cursor: pointer; 
} 