*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} 

:root{
  --main-blue: rgb(0, 0, 255); 
  --darker-blue: rgb(10, 10, 156);   
  --main-red: rgb(255, 0, 0); 
  --main-white: rgb(255, 255, 255); 
  --cream-white: rgb(237, 225, 213); 
  --powder-blue: rgb(197, 231, 246); 

  --logo-font-size: 50px; 
  --logo-font-family: Brush Script MT, Brush Script Std, cursive; 
  --slogan-font-family: DejaVu Sans Mono, monospace; 
  --slogan-font-size: 30px; 
} 

